
<div class="col-md-6 col-md-offset-3">

  <h2>Login</h2>
  <form name="form" (ngSubmit)="onSubmitLogin(loginCred,senha)" #f="ngForm" >

    <div class="form-group" >
      <label for="logincred">Username</label>
      <input type="text" class="form-control" id="logincred" name="logincred" [(ngModel)]="model.loginCred"  required />
      <div *ngIf="f.submitted && !logincred.valid" class="help-block">Username is required</div>
    </div>

    <div class="form-group" >
      <label for="senha">Password</label>
      <input type="password" class="form-control" id="senha" name="senha" [(ngModel)]="model.senha" required  />
      <div *ngIf="f.submitted && !senha.valid" class="help-block">Password is required</div>
    </div>

    <div class="form-group">
      <button [disabled]="loading" class="btn btn-primary">Login</button>
    </div>

    <div *ngIf="error" class="alert alert-danger">{{error}}</div>
  </form>

</div>

-->
